{{#list-filter
        filter=(action 'filterByCity')
as |restaurants|}}
    <ul class="results">
        {{#each model as |restaurantUnit|}}
            <li>{{restaurant-listing restaurant=restaurantUnit}}</li>
        {{/each}}
    </ul>
{{/list-filter}}
{{outlet}}