<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Mystery Diner</h2>
    <p>The Mystery Diner website is a delightful project created to bring hospitality business together with their target customers to get a n inside view on the guest experience.</p>
</div>