<div class="jumbo">
    <!--<div class="right tomster"></div>-->
    <h2>About Mystery Dining Initiative</h2>
    <p>The Mystery Dining Initiative is passionate about helping restaurants and their customers communicate more effectively, with a vision to improve future guest experiences.</p>
</div>