<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Contact Us</h2>
    <p>Mystery Diner Representatives would love to help you<br>choose a destination or answer
        any questions you may have.</p>
    <p>
        Mystery Diner HQ
    <address>
        20 Parliamnent Street<br>
        Wellington, 6011
    </address>
    <a href="tel:123445">(04) 230 5672</a><br>
    <a href="mailto:enquiries@mysterydiner.com">enquiries@mysterydiner.com</a>
    </p>
</div>