<form {{action 'authenticate' on='submit'}}>
    <label for="login">Login</label>
    {{input id='login' placeholder='Enter Login' value=login}}
    <label for="password">Password</label>
    {{input id='password' placeholder='Enter Password' type='password' value=password}}
    <button type="submit">Login</button>
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
</form>