<div class="jumbo">
    <!--<div class="right tomster"></div>-->
    <h2>Welcome!</h2>
    <p>Check out the list below to find out which restaurants are looking for mystery diners in your town or city.</p>
</div>

{{outlet}}